:root {
  --font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}
body {
  background-color: #ddd5d5;
    margin-bottom: 500px;
}
.page-container {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}
.hero-box-2-title-wrapper {
    background: linear-gradient(164.26deg, rgba(239, 128, 49, 0) -335.51%, rgba(239, 128, 49, 0.15) -20.24%, rgba(239, 128, 49, 0) 119.45%);
}
.button {
    text-transform: uppercase;
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    border-color:#66AC66;
    background: linear-gradient(0.25turn, #647B64, #66AC66);
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    text-align: center;
  }
  .button.button-fill {
    background-color: #647B64;
    color: #FEFEFE;
  }
  .button.button-fill:hover {
    background-color: #66AC66;
    border-color: #66AC66;
  }
  
  .container {
    width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .main-header {
    background-color: white;
  }
  .main-header .main-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 48px;

  }
  .main-header .main-header-wrapper .logo-wrapper {
    display: flex;
    gap: 48px;
    padding-top: 50px;
  }
  .main-header .main-header-wrapper .main-navigation {
    display: flex;
    justify-content: space-between;
    column-gap: 48px;
    padding-top: 50px;

  }
  
  .main-header .main-header-wrapper .main-navigation ul.menu-list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .main-header .main-header-wrapper .main-navigation ul.menu-list li.menu-item a.menu-link {
    text-decoration: none;
    color: #333333;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    padding: 8px 14px;
    display: inline-block;
  }

  .hero-box-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 264px;
  }
  .hero-box-left-side {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 495px;
    height: 375px;
  }
  .hero-box-title {
    font-size: 48px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333333;
    text-transform:uppercase;
    margin: 0;
  }

  .hero-box-content {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#4F4F4F;
    line-height: 26.4px;
    font-weight: 400;
  }

  .hero-box-wrapper a.button.button-primary.button-fill  {
    width: 350px;
    text-align: start;
    padding: 27px 26px 29px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .hero-box-right-side {
    width: 350px;
    display: flex;
    margin-bottom: 141px;
    margin-top: 61px;
  }

  .hero-box-2-wrapper {
    display: flex;
    flex-direction: row;
  }
 .hero-box-2-left-side {
    width: 412px;
 } 

.hero-box-2-link {
    color:#F3B562;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    padding-top: 40px;
}

.hero-box-2-title {
    color: #647B64;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: 41px;
    line-height: 45.1px;
    align: center;
    font-weight: 400;
}
.hero-box-2-content {
    color: #4F4F4F;
    font-size: 16px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hero-box-2-wrapper a.button.button-primary.button-fill  {
    width: 350px;
    text-align: start;
    padding: 27px 26px 29px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
  }
 
.hero-box-2-right-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-left: 80px;
}
.card1-wrapper {
background-color: #FFFFFF;
width: 288px;
height: 237px;
}
.card1-img {
background-color: #647B64;
}
.card2-wrapper, .card4-wrapper {
  width: 221px;
  height: 152px;
}
.card3-wrapper {
  width: 203px;
  height: 152px;
}
.hero-box-3-title-link {
  color:#F3B562;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  
}

.hero-box-3-title {
  color: #647B64;
  font-family: var(--font-family);
  text-transform: uppercase;
  font-size: 41px;
  line-height: 45.1px;
  align: center;
  font-weight: 500;
  text-align: center;
  width: 550px;
}
.hero-box-3-title-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  margin-left: 445px;
  margin-right: 445px;
  margin-top: 100px;
  gap: 17px;
}

.hero-box-3-card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-top: 56px;
  margin-left: 106px;
  margin-right: 106px;

}
.hero-box-3-card1, .hero-box-3-card2, .hero-box-3-card3 {
  width: 360px;
  height: 338px;
  font-family: var(--font-family);
  color: #333333;
  
}

.hero-box-3-card1-img, .hero-box-3-card2-img, .hero-box-3-card3-img {
  margin-top: 78px; 
  margin-left: 50px;
  
}
.hero-box-3-card1-title, .hero-box-3-card2-title  {
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 24px;
  margin-left: 50px;
}

.hero-box-3-card-text-size {
  font-size: 31px;
  text-transform: uppercase;
}
.hero-box-3-card3-title {
  font-size: 31px;
  text-transform: uppercase;
}

.hero-box-3-card1-content, .hero-box-3-card2-content, .hero-box-3-card3-content {
  font-size: 16px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 6px;
}

.hero-box-3-card1, .hero-box-3-card3 {
  background: linear-gradient(358.27deg, rgba(100, 123, 100, 0.77) -118.86%, rgba(100, 123, 100, 0) 25.62%, rgba(100, 123, 100, 0) 98.53%),linear-gradient(0deg, #FFFFFF, #FFFFFF);
  }

.hero-box-3-card2 {
  background: #647B64;
}
.hero-box-3-card3-title {
  margin-left: 50px;
  margin-top: 24px;
}

.hero-box-4-wrapper {
  display: flex;
  flex-direction: row;
  gap: 105px;
}
.hero-box-4-left-side {
  width: 623px;
  height: 605px;
  margin-left: 140px;
  margin-top: 192px;
} 

.hero-box-4-link {
  color:#F3B562;
  font-family: var(--font-family);
  text-transform: uppercase;
  font-size: 24px;
  padding-top: 40px;
}

.hero-box-4-title {
  color: #647B64;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 41px;
  line-height: 45.1px;
  align: center;
  font-weight: 400;
}
.hero-box-4-content {
  color: #4F4F4F;
  font-size: 16px;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hero-box-4-wrapper a.button.button-primary.button-fill  {
  width: 350px;
  text-align: start;
  padding: 27px 26px 29px; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.hero-box-4-right-side {
  width: 412px;
  height: 316px;
  margin-top: 200px;
}

.hero-box-5-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero-box-5-top-left-side {
  width: 540px;
  height: 95px;
  margin-left: 140px;
}
.hero-box-5-top-left-side-link {
  color:#F3B562;
  font-family: var(--font-family);
  text-transform: uppercase;
  font-size: 24px;
  padding-top: 40px;
}
.hero-box-5-top-left-side-title {
  color: #647B64;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 38px;
  line-height: 45.1px;
  font-weight: 500;
  margin-top: 17px;
}

.hero-box-5-top-right-side {
  display: flex;
  gap: 24px;
}
.button-left-arrow {
  background: transparent;
  border: none;
}
.button-right-arrow {
  background: linear-gradient(102.3deg, #647B64 -4.62%, #6ADD6A 178.22%);
  border: none;
  border-radius: 50px;
  box-shadow: 0px 12px 40px 0px #0000000F;
  width: 75px;
  height: 75px;
}